/* Preloader */
#preload {
	background-color: #383267;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: .2s linear all;
	-moz-transition: .2s linear all;
	-o-transition: .2s linear all;
	transition: .2s linear all;
}

#preload.out {
	opacity: 0;
	-webkit-transition: .1s linear all;
	-moz-transition: .1s linear all;
	-o-transition: .1s linear all;
	transition: .1s linear all;	
}

#preload .bar {
	width: 160px;
	height: 4px;
	background-color: #5F5B85;
	border-radius: 2px;
	position: relative;
	margin: -3px auto 0 auto;
	top: 50%;
}

#preload .bar::after {
	content: '';
	width: 30%;
	background-color: #fff;
	height: 4px;
	border-radius: 2px;
	display: block;
	position: relative;
	left: 0;
	-webkit-animation: preloader 1.5s linear infinite;
	-moz-animation: preloader 1.5s linear infinite;
	-o-animation: preloader 1.5s linear infinite;
	animation: preloader 1.5s linear infinite;
}

@-webkit-keyframes preloader {
	0% {
		width: 30%; 
		left: 0;
	}

	10% {
		width: 45%; 
		left: 0;
	}

	20% {
		width: 65%; 
		left: 15%;
	}

	30% {
		width: 70%; 
		left: 30%;
	}

	40% {
		width: 45%; 
		left: 55%;
	}

	50% {
		width: 30%; 
		left: 70%;
	}

	60% {
		width: 45%; 
		left: 55%;
	}

	70% {
		width: 70%; 
		left: 30%;
	}

	80% {
		width: 65%; 
		left: 15%;
	}

	90% {
		width: 45%; 
		left: 0;
	}

	100% {
		width: 30%; 
		left: 0;
	}
}

@-moz-keyframes preloader {
	0% {
		width: 30%; 
		left: 0;
	}

	10% {
		width: 45%; 
		left: 0;
	}

	20% {
		width: 65%; 
		left: 15%;
	}

	30% {
		width: 70%; 
		left: 30%;
	}

	40% {
		width: 45%; 
		left: 55%;
	}

	50% {
		width: 30%; 
		left: 70%;
	}

	60% {
		width: 45%; 
		left: 55%;
	}

	70% {
		width: 70%; 
		left: 30%;
	}

	80% {
		width: 65%; 
		left: 15%;
	}

	90% {
		width: 45%; 
		left: 0;
	}

	100% {
		width: 30%; 
		left: 0;
	}
}

@-o-keyframes preloader {
	0% {
		width: 30%; 
		left: 0;
	}

	10% {
		width: 45%; 
		left: 0;
	}

	20% {
		width: 65%; 
		left: 15%;
	}

	30% {
		width: 70%; 
		left: 30%;
	}

	40% {
		width: 45%; 
		left: 55%;
	}

	50% {
		width: 30%; 
		left: 70%;
	}

	60% {
		width: 45%; 
		left: 55%;
	}

	70% {
		width: 70%; 
		left: 30%;
	}

	80% {
		width: 65%; 
		left: 15%;
	}

	90% {
		width: 45%; 
		left: 0;
	}

	100% {
		width: 30%; 
		left: 0;
	}
}

@keyframes preloader {
	0% {
		width: 30%; 
		left: 0;
	}

	10% {
		width: 45%; 
		left: 0;
	}

	20% {
		width: 65%; 
		left: 15%;
	}

	30% {
		width: 70%; 
		left: 30%;
	}

	40% {
		width: 45%; 
		left: 55%;
	}

	50% {
		width: 30%; 
		left: 70%;
	}

	60% {
		width: 45%; 
		left: 55%;
	}

	70% {
		width: 70%; 
		left: 30%;
	}

	80% {
		width: 65%; 
		left: 15%;
	}

	90% {
		width: 45%; 
		left: 0;
	}

	100% {
		width: 30%; 
		left: 0;
	}
}

/* Generales */
@font-face {
    font-family: 'Hazelnuts';
    font-weight: 200;
    src: url('../fonts/Hazelnuts-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Hazelnuts';
    font-weight: 400;
    src: url('../fonts/Hazelnuts-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Hazelnuts';
    font-weight: 700;
    src: url('../fonts/Hazelnuts-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Hazelnuts';
    font-weight: 800;
    src: url('../fonts/Hazelnuts-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Hazelnuts';
    font-weight: 900;
    src: url('../fonts/Hazelnuts-Black.otf') format('opentype');
}

body {
	overflow-x: hidden;
	font-family: 'Hazelnuts', Arial;
	background-color: #e95771;
	color: #fff;
}

.container {
	max-width: 1200px;
	width: 96%;
	margin: 0 auto;
}

.container::after {
	content: '';
	display: block;
	clear: both;
}

.col-1-3 {
	box-sizing: border-box;
	width: 33.3333%;
	float: left;
	display: inline-block;
	text-align: center;
}
.col-1-2 {
	width: 50%;
	float: left;
	display: inline-block;
	box-sizing: border-box;
}

/* Titulo */
header {
	background-color: #383267;
}

h1 {
	padding: 115px 0 0 0;
	margin: 0;
	font-size: 116px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
}

h1 span {
	margin-right: 30px;
	color: #e95771;
}

/* Cuerpo */
section {
	padding-top: 60px;
	background-color: #383267;
	background-image: url('../img/ondas.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	background-size: auto 130px;
}

section .logo-mobile {
	display: none;
}

section .cont-mobile {
	display: none;
}

section img.logo {
	height: 158px;
	width: 333px;
	margin: 25px 0 0 0;
}

section p.pedi,
section div.prox {
	font-size: 23px;
	font-weight: 700;
	background-color: #1394ce;
	display: inline-block;
	border-radius: 8px;
}

section div.prox {
	padding: 15px 40px;
	margin: 20px 0 0 0;
	border-radius: 15px;
}

section div.prox p {
	display: inline-block;
	float: left;
	margin: 5px 5px 0 0;
}

section div.prox img {
	display: inline-block;
	margin: 0 0 0 15px;
	padding: 0;
	height: 30px;
	width: 30px;
	float: left;
}

section div.smart {
	height: 343px;
}

section img.smart {
	width: 320px;
	height: auto;
}

section .pedidos {
	float: right;
}

section p.pedi {
	padding: 10px 55px;
	margin: 25px 0 0 0;
}

section img.potes {
	height: 150px;
	width: 380px;
	margin: 50px 0 0 0;
}

/* Footer */
footer {
	position: relative;
	background-color: #e95771;
}

footer .footer-top {
	height: 30px;
	position: absolute;
	left: -8px;
	right: 0;
	top: -20px;
	background-image: url('../img/onda.svg');
	background-repeat: repeat-x;
	background-position: center bottom;
	background-size: 38px 21px;
	z-index: 100;
}

footer .logo-footer {
	height: 126px;
	width: 352px;
	margin: 55px 0 85px 0;
}

footer a.telefono {
	font-size: 82px;
	font-weight: 900;
	color: #383267;
	text-decoration: none;
	margin-top: 50px;
	display: inline-block;
}

footer p.horarios {
	font-weight: 200;
	font-size: 18px;
	margin: 0;
}

footer p.horarios span {
	font-weight: 400;
}

footer .envios {
	position: relative;
	margin-top: 55px;
}

footer .envios img {
	height: 105px;
	width: 118px;
}

footer .envios p {
	color: #383267;
	margin: 10px 0 0 -8px;
}

footer .envios p:last-child {
	position: absolute;
	transform: rotate(270deg);
	top: 35px;
	left: -19px;
}

footer .gustos {
	background-color: #383267;
	border-radius: 15px;
	display: inline-block;
	padding: 15px 35px;
	margin-top: 65px;
	box-shadow: 4px 4px 15px rgba(56, 50, 103, 0.5);
	font-size: 18px;
	font-weight: 700;
}

footer .gustos:hover {
	cursor: pointer;
}

footer .redes {
	margin-top: 15px;
}

footer .redes p {
	font-weight: 700;
	font-size: 18px;
	color: #383267;
	display: inline-block;
	float: left;
	margin: 10px -10px 0 15px;
}

footer .redes a {
	text-decoration: none;
}

footer .redes a img {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 5px;
}

/* Popup Gustos */
body.noscroll {
	overflow: hidden;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	box-sizing: border-box;
	width: 100%;
	opacity: 0;
	z-index: 0;
	padding: 50px 0;
	background-color: rgba(56,50,103,0.95);
	display: none;
	transition: .3s;
}

.popup.active {
	opacity: 1;
	transition: .3s;
	z-index: 200;
	overflow: auto;
}

.popup.block {
	display: block;
}

.popup .close {
	height: 30px;
	width: 30px;
	top: 50px;
	right: 50px;
	z-index: 1000;
	position: fixed;
}

.popup .close:hover {
	cursor: pointer;
}

.popup img {
	width: 140px;
	height: 140px;
	border-radius: 15px;
	display: inline-block;
	float: left;
}

.popup div.col-1-2 {
	margin-top: 50px;
	display: table;
}

.popup div.desc {
	width: 460px;
	box-sizing: border-box;
	padding: 0 30px;
	display: table-cell;
	vertical-align: middle;
}

.popup div.desc p {
	color: #e95771;
	font-size: 14px;
	font-weight: 700;
	margin: 0;
}

.popup div.desc p.bajada {
	color: #fff;
	font-weight: 200;
	margin-top: 15px;
}

/* Responsive */
@media (max-width: 1250px) {
	h1 {
		padding-top: 70px;
		font-size: 70px;
	}

	h1 span {
		margin-right: 15px;
	}

	section img.logo {
		width: 250px;
		height: 120px;
		margin-top: 20px;
	}

	section div.prox {
		margin-top: 20px;
		padding: 10px 40px;
	}

	section div.prox p {
		margin: 0;
		float: inherit;
		display: block;
		font-size: 20px;
	}

	section div.prox img {
		margin: 5px 10px 0 10px;
		float: inherit;
	}

	section div.smart {
		height: 300px;
	}	

	section img.smart {
	    width: 250px;
	    height: auto;
	}

	section img.potes {
		width: 250px;
		height: 100px;
	}

	section p.pedi {
		font-size: 18px;
		margin-top: 35px;
	}

	footer .logo-footer {
		width: 240px;
		height: 100px;
	}

	footer a.telefono {
		font-size: 58px;
	}

	footer p.horarios {
		font-size: 14px;
		margin-top: 2px;
	}

	footer .envios {
		margin-top: 40px;
		width: 120px;
	}

	footer .envios img {
	    height: 72px;
	    width: 80px;
	    margin: 20px 0 0 15px;
	}

	footer .envios p {
		font-size: 14px;
	}
	
	footer .gustos {
		padding: 10px 25px;
		font-size: 14px;
		margin-top: 50px; 
	}

	footer .redes p {
		float: inherit;
	    margin: 0 0 10px 0;
	    display: block;
	}

	.popup img {
		width: 110px;
		height: 110px;
	}

	.popup div.desc {
		width: 100%;
	}
}

@media (max-width: 1000px) {
	.popup .container {
		max-width: 500px;
	}

	.popup .close {
		top: 10px;
		right: 30px;
	}

	.popup div.col-1-2 {
		width: 100%;
		margin-top: 20px;
	}

	.popup div.desc {
		padding: 0 20px;
	}

	.popup div.desc p.tit {
		margin-top: 0;
	}

	.popup div.desc p.bajada {
		margin-top: 0;
		padding: 0;
	}
}

@media (max-width: 767px) {
	h1 {
		padding-top: 20px;
		font-size: 60px;
		color: #e95771;
		line-height: 50px;
	}

	h1 span {
		margin: 0;
		display: block;
		font-size: 53px;
	}

	section {
		padding-top: 30px;
	}

	section .logo-mobile {
		display: block;
		max-width: 350px;
		width: 96%;
		margin: 0 auto;
	}

	section .logo-mobile img {
		max-width: 350px;
		width: 100%;
		height: auto;
		padding-top: 20px;
	}

	section .cont-mobile {
		display: block;
		text-align: center;
		padding-top: 60px;
	}

	section .cont-mobile a.telefono {
		font-size: 70px;
		font-weight: 900;
		text-decoration: none;
		color: #fff;
		display: inline-block;
		padding-bottom: 5px;
	}

	section .cont-mobile p.horarios {
		margin: 5px;
		font-weight: 200;
		font-size: 16px;
	}

	section .cont-mobile p.horarios span {
		font-weight: 400;
	}

	section div.proximamente {
	    width: 315px;
	    margin: 70px auto 0 auto;
	    display: block;
	    float: inherit;
	    text-align: left;
	    z-index: 10;
    	position: relative;
	}

	section img.logo {
		width: 190px;
		height: 90px;
	}

	section div.prox {
		padding: 10px 20px;
		border-radius: 8px;
	}

	section div.prox p {
		display: inline-block;
		font-size: 16px;
		font-weight: 400;
	}

	section div.prox img {
		margin: 0 2px 0 0;
		width: 17px;
		height: 17px;
	}

	section .pedidos {
		float: inherit;
		display: block;
		width: 96%;
		margin: 0 auto;
	}

	section p.pedi {
		display: block;
		padding: 10px 0;
		width: 292px;
		margin: 70px auto 0 auto;
	}

	section img.potes {
		margin-top: 20px;
	}

	section div.smart {    
		width: 315px;
		height: 54px;
	    text-align: right;
	    display: block;
	    float: inherit;
	    margin: 0 auto;	
	}

	section img.smart {
	    top: -177px;
	    right: -29px;
	    width: auto;
	    height: 240px;
	    position: relative;
	    z-index: 1;
	}

	footer .container .col-1-3 {
		display: none;
	}

	footer .container > div:last-child {
		display: block;
		width: 100%;
	}

	footer .container > div:last-child > div {
		width: 50%;
	}

	footer .zona-mobile {
		width: 120px;
		margin: 20px auto 70px auto;
		position: relative;
	}

	footer .envios p:last-child {
		left: -21px;
	}

	footer .gustos {
	    margin: 65px auto 0 auto;
    	width: 90px;
	}

	footer .redes {
	    width: 170px;
    	margin: 25px auto 0 auto;
    	position: relative;
    	left: -10px;
	}

	footer .redes p {
		display: inline-block;	
	}

	footer .redes a img {
		width: 25px;
		height: 25px;
		margin-left: 3px;
	}
}